<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/backoffice">Home</a>
                </li>
                <li class="active">Clients</li>
            </ul>
            <!-- /.breadcrumb -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1> Clients
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>List Clients
                    </small>
                </h1>
            </div>
            <!-- /.page-header -->


            <div class="row">
                <div class="col-xs-12">

                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div class="table-header">Clients</div>


                    <!-- div.dataTables_borderWrap -->
                    <div>
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer"
                            role="grid" aria-describedby="dynamic-table_info">
                            <thead>
                                <tr role="row">

                                    <th class="center">ID</th>

                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                                        aria-label="Domain: activate to sort column ascending">
                                        <i class="ace-icon fa fa-user bigger-110 hidden-480"></i>Nome
                                    </th>

                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                                        aria-label="Price: activate to sort column ascending">
                                        <i class="ace-icon fa fa-credit-card bigger-110 hidden-480"></i>CPF
                                    </th>

                                    <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                                        colspan="1" aria-label="Clicks: activate to sort column ascending">
                                        <i class="ace-icon fa fa-mobile bigger-110 hidden-480"></i>Telefone
                                    </th>

                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                                        aria-label="Update: activate to sort column ascending">
                                        <i class="ace-icon fa fa-calendar bigger-110 hidden-480"></i> birth
                                    </th>


                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                                        aria-label="Update: activate to sort column ascending">
                                        <i class="ace-icon fa  fa-envelope bigger-110 hidden-480"></i> Email
                                    </th>

                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="">
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <% @clients.each do |client| %>
                                <tr role="row" class="odd">

                                    <td class="center">
                                        <%= client.id %>
                                    </td>
                                    <td>
                                        <%= client.name %>
                                    </td>
                                    <td>
                                        <%= client.cpf %>
                                    </td>
                                    <td>
                                        <%= client.phone %>
                                    </td>
                                    <td>
                                        <%= client.birth %>
                                    </td>

                                    <td>
                                        <%= client.email %>
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">

                                            <%= link_to [:backoffice, client ], class: "ace-icon fa fa-search-plus bigger-130" do %>
                                            <% end %>


                                            <%= link_to edit_backoffice_client_path(client), class: " green ace-icon fa fa-pencil bigger-130" do %>
                                            <% end %>

                                            
                                            <%= button_to [:backoffice, client ], method: :delete, data: { confirm: 'Are you sure?' }, class: "red ace-icon fa fa-trash bigger-130" do %>
                                            <% end %>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <% end %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <button class="btn btn-info" type="button" onclick="location.href='/backoffice/clients/new'">
                    <i class="ace-icon fa fa-check bigger-110"></i> Novo Cliente
                </button>
            </div>

        </div>
    </div>
</div>